<h1>Listing replies</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replies.each do |reply| %>
  <tr>
    <td><%= reply.body %></td>
    <td><%= link_to 'Show', [@user, @comment, reply] %></td>
    <td><%= link_to 'Edit', edit_user_comment_reply_path(@user, @comment, reply) %></td>
    <td><%= link_to 'Destroy', [@user, @comment, reply], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reply', new_user_comment_reply_path(@user, @comment) %>
<%= link_to 'Back to comment', user_comment_path(@user, @comment) %>
